<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>All the job profiles are publicly listed on recruitment platforms</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          <li>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <p class="text">Developed by <a href="https://hridaydutta123.github.io/">Hridoy Sankar Dutta</a></p>
      </div>
    </div>

  </div>
  <div align=center><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-dW6A7bda5Baw9Z78-3.gif' border='0' alt='free counter'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=dW6A7bda5Baw9Z78'></script></div>
</footer>
